
       <div class="header_height">
            <div class="row font_md bold">
                <div class="col-xs-4 align_center">
                    <label>남은시간 </label>
                </div>
                <div class="col-xs-4 align_center">
                    <label >단어 </label>
                </div>
                <div class="col-xs-4 align_center">
                    <label >점수 </label>
                </div>
            </div>
            <div class="row height_sm">
                <div class="col-xs-4 font_sm align_center">
                        <label id="wordTime"/>
                </div>
                <div class="col-xs-4 font_sm align_center">
                        <label id="wordText"/>
                </div>
                <div class="col-xs-4 font_sm align_center">
                        <label id="wordTotal"/>
                </div>
            </div>
       </div>
       <div class="row align_center">
            <label class="font_md">단어를 입력하세요.</label>
       </div>
       <div class="row align_center">
            <input class="font_md" id="wordInput" placeholder='입력'/>
       </div>
       <div class="row align_center ">
            <button id="playButton" class="button playButton">
                시작
            </button>
            <button id="resetButton" class="button playButton">
                초기화
            </button>
       </div>